body{
    background-image: url(https://images.pexels.com/photos/459335/pexels-photo-459335.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
}
#parent{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 40%;
    height: 400px;
    border: 1px solid rgb(39, 42, 42);
    text-align: center;
    margin: auto;
}

input{
    width: 87%;
    margin: 10px;
    padding: 5px;


}

input:focus{
    background-color: rgb(225, 255, 0);
}

#parent >form>button{
    padding: 10px;
    width: 50%;
    border: none;
    background-color: rgb(255, 68, 0);
    margin-bottom: 30px;

}

#parent>from>button:hover{
    color: aqua;
    background-color: hotpink;
    cursor: pointer;
}

table{
    color: rgb(240, 234, 227);
    margin: auto;
    margin-top: 100px;
    width: 30%;
    

}

table, td{
    border: 1px solid rgb(66, 16, 192);
    border-collapse: collapse;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}